      body{
        font-family: "El Messiri", serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
      .navHeaderFontStyle{
        font-family: "El Messiri", serif;
        /*font-family: "Reem Kufi", serif;*/
        font-optical-sizing:larger;
        font-style:normal;
      }
      .navbarEdit{
        background-color:#353535!important;
        color:#fff;
        }
    
        .ListManu p{
          font-weight: 400;
          font-size: large;
        }
        .ListManu , .ListManu a{
          direction: rtl;
          text-decoration: none;
        }
        .offcanavasEdit{
            --bs-border-width: 45px;
        }
        .bar a{
            color:black;
        }
        .editNavbar{
            direction: rtl;
        }
        .offcanvas{
            --bs-offcanvas-border-color: var(--bs-border-color-translucent);
            --bs-offcanvas-border-color: rgb(255 255 255 / 0%);
        }
        .offcanvas-header{
        background-color:#353535!important;
        color: #fff;
        }
        .btn-close{
        background-color:#fff!important;
        color: #fff!important;
        border-radius:20%;
        }
        .editH6{       
          border-bottom: 1px solid;
          border-color: #777;
          padding: 10px;
          width: 100%;
        }
        .disabledCat{
          color: rgba(0, 0, 0, 0.425);
          border-bottom: 1px solid;
          padding: 10px;
          width: 100%;
        }
        .detailsMainList{
          margin: 20px;
          font-weight: 500;
        }
        .detailsMainList a{
          color: black;
          font-weight: 400;
        }
        .MainEditList{
          list-style: none;
        }
        .ListStyle{
          list-style: circle;
        }
        .ulMainManue{
            margin: 5px;
            padding: 15px;
        }
        .ulMainManue li{
          margin: 5px;
          padding: 2px;
        }
        .ulMainManue{
          list-style: none;
        }
        .textPragraph{
          visibility: visible;
          direction: rtl;          
          padding: 10px;
          margin: 1%;
        }
        .table{
          direction: rtl !important;

        }
        .tableEdit{
          font-weight: 500!important;
          caption-side: bottom!important;
          border-collapse: collapse!important;
          padding: 15px;
      }
        .headerCatygoryName{
          direction: rtl;
          padding: 10px;
          margin: 1%;
          margin-top: 30px;
          font-weight: bold;
          text-decoration: none!important;
        }
        .headerCatygoryName> p{
          text-decoration: none!important;
        }
        .btn-secondary{
          background-color: #353535;
        }
        .tableLink{
          text-decoration:none!important;
          color: #fff!important;
        }
        #myBtn {
          padding-top: 6px;
          display: none;
          position: fixed;
          bottom: 100px;
          left: 5px;
          z-index: 99;
          border: none;
          outline: none;
          background-color: #35353500;
          cursor: pointer;
          border-radius: 10px;
          font-size: 40px;
          color: #353535;

        }
        
      .topBtn{
        margin-top: 5%;
      }
      .modal{
        direction: rtl;
        margin-top:10%;
      }
      .modal-header{
        background-color: #353535;
        color: #fff;
      }
      .modal-body> ul> li{
        list-style: none;
        margin: 20px;
      }
      #setPause{
        display: block;
        width: 100%;
        font-size: large;
        padding-top:10px ;

      }
      #setPlay{
        display: none;
        width: 100%;
        font-size: large;
        padding-top:10px ;
      }
      #setNight{
        display: block;
        width: 100%;
        font-size: large;
        padding-top:10px ;
      }
      #setLight{
        display: none;
        width: 100%;
        font-size: large;
        padding-top:10px ;
      }
      .EditSave{
        width: 100%;
      }
      .iconsFooter> i, .iconsFooter> a{
        color: #fff;
        padding: 7px;
        font-size: x-large;
        text-decoration: none;
      }
      .iconsFooter{
        border-bottom: #fff solid 1px;
        border-top: #fff solid 1px;
        margin: 5px;
        padding-top: 5px;
      }
      .footerEdit, .footerHeaderFontStyle{
        background-color:#353535!important;
        color:#fff;          
        font-size: 15px;
        direction: rtl;
        text-align: center;
        padding: 5px;

      }
      .hLine{
        border-bottom: 2px solid #3535;
      }
      .alert{
        border: solid 2px #3535;
      }
      .mainArFooter{
        direction: rtl;
        text-decoration: none;
        list-style: none;
        border-bottom: #fff solid 1px;
        border-top: #fff solid 1px;
        width: 100%;
        margin-top: 5px;
        padding: 15px;
      }
      .mainArFooter> a{
        text-decoration: none;
        color: #fff;
      }
      /*
      
      .toast{
        width: 50%;
        direction: rtl;
        position: fixed;
        z-index: 99;
        width: auto;
        left: 5%;
        top: 15%;
        background-color: #35353554;
      }
      .toast-header{
        width: 50%;

        background-color: #35353571;
        color: #fff;
      padding: 20px;

      }
      .btn-close{
        padding: 5px;
        color: #fff;
      }
      .toastP{
        padding: 20px;
        width: 50%;

      }
      
      */